<section id="contact">
    <div class="section-content">
      <h1 class="section-header">Get in <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Touch with us</span></h1>
      <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h3>
    </div>
    <div class="contact-section">
    <div class="container">
      <form>
       <div class="row">
        <div class="col-md-6 form-line">
            <div class="form-group">
              <label for="exampleInputUsername">Your name</label>
              <input type="text" class="form-control" id="" placeholder=" Enter Name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail">Email Address</label>
              <input type="email" class="form-control" id="exampleInputEmail" placeholder=" Enter Email id">
            </div>	
            <div class="form-group">
              <label for="telephone">Mobile No.</label>
              <input type="tel" class="form-control" id="telephone" placeholder=" Enter 10-digit mobile no.">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for ="description"> Message</label>
               <textarea  class="form-control" id="description" placeholder="Enter Your Message"></textarea>
            </div>

            <div>
              <button type="button" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Send Message</button>
            </div>  
          </div>
      </div>

      </form>
      </div>
    </div>
  </section><br><br>
  
  <div class="container">
      <div class="row">
            <div class="col-md-6">
              <!-- <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
              src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=15+Springfield+Way,+Hythe,+CT21+5SH&aq=t&sll=52.8382,-2.327815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe> -->
         
              <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31104.890881437204!2d77.71918988841475!3d12.964725386896617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae11f35d0dfc83%3A0x30cfa512d80115f9!2sWhitefield%2C%20Bengaluru%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1569567945869!5m2!1sen!2sin" >
              </iframe>
            </div>
          
            <div class="col-md-6">
            <h2>HRK Pvt Ltd</h2>
            <address>
              <strong>Web Developer</strong><br>
              No 40, 2nd flor, 2nd cross<br>
              1st Main Road<br>
              Kempegowda Nagar<br>
              Bengaluru - 560091<br>
              Karnataka<br>
              <abbr title="Phone"> P:</abbr> 9845293868
            </address>
          </div>
        </div>
    </div>

  